<script>
    var $ = django.jQuery;
    function updateParams(days) {
        param_text = "byweekday:";
        for (i = 0; i < days.length; i++) {
            //console.log(days[i])
            if (i > 0) {
                param_text = param_text + ','
            }
            param_text = param_text + days[i]

        }
        param_text = param_text + ';'
        console.log(param_text)
        $('#id_params').val(param_text);

    }
    $( document ).ready(function() {
    $(".checkbox").change(function () {
        var days = []
        console.log("changed")
        $(".checkbox").each(function () {
            if (this.checked) {
                //console.log(this);
                days.push(this.value);
            }
        })
        if (days.length > 0) {
            //console.log("We have days we should set param")
        }
        updateParams(days);
        //console.log(days);

    });
    });
</script>
{% load crispy_forms_tags %}
{{ form.non_field_errors }}
{{ myform|crispy }}
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="0">Mon</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="1">Tue</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="2">Wed</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="3">Thu</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="4">Fri</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="5">Sat</label>
    <label class="weekday"><input class="checkbox" type="checkbox" name="vehicle" value="6">Sun</label>
    <input type="text" name="params" id="id_params">

  

   
